#contactMe {
  position: relative;
  background-color: #cbcbcb;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#contactMeText {
  padding: 25px;
  width: 175px;
  font-size: 17px;
  font-weight: bold;
}

#contactMeBox {
  display: flex;
  justify-content: space-around;
  border-radius: 100px;
  margin: 25px;
  border-style: solid;
  border-color: grey;
}

#contactMeBoxMobile {
  display: none;
  justify-content: space-around;
  border-radius: 100px;
  margin: 25px;
  border-style: solid;
  border-color: grey;
}

#contactMeCircle {
  display: inline;
  position: absolute;
  top: -50px;
  background: #00b649;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  right: 25px;
}

#cantactCircleUp {
  width: 275px;
}

#contactMeForum {
  padding-top: 50px;
  padding-left: 25px;
}

#contactMeForumMobile {
  display: none;
  margin-left: 60px;
  padding-top: 50px;
  padding-left: 25px;
}

#contactMePetr {
  margin: 15px;
  width: 45px;
  height: 45px;
  border-radius: 100px;
}

#contactMeBoxText {
  text-decoration: underline;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 25px;
  font-size: 16px;
}

#contactMeSocial {
  display: flex;
  justify-content: space-between;
}

.contactMeIcons {
  width: 20px;
  padding: 5px;
}

.contactFormInput {
  background-color: #00cf53;
  border: none;
  border-radius: 100px;
  padding: 10px;
  margin: 10px;
  color: #b5ffd2;
  font-size: 10px;
  width: 160px;
}

.contactFormInput::placeholder {
  color: #b5ffd2;
}

#contactSendMessage {
  background-color: #97ffc1;
  border: none;
  padding-top: 50px;
  padding-left: 25px;
  border-radius: 100px;
  padding: 10px;
  margin: 10px;
  color: #006227;
  font-size: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#contactBoxTitle {
  padding-left: 5px;
}

@media screen and (max-width: 725px) {
  #contactMeCircleUp {
    display: none;
  }
  #contactMe {
    padding-left: 15px;
    background: #00b649;
  }
  #contactMeBox {
    display: none;
  }
  #contactMeCircle {
    display: none;
  }
  #contactMeBoxMobile {
    display: flex;
    float: right;
  }
  #contactMeForumMobile {
    display: inline;
    margin-left: 70px;
  }
  #contactMeText {
    padding-bottom: 0px;
  }
  #contactMeSizeDiv {
    width: 100%;
  }
}
