#title {
  display: flex;
  justify-contenct: space-between;
}
#titleText {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 40px;
}
#titleName {
  display:flex;
  width:100%;
  /* margin-bottom:40px; */
}
#titleImage {
  position: relative;
  margin-left: 50px;
  /* background:red; */
}
#titleOwner {
  font-size: 30px;
}
#titleButtonsBox {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
#titlePetr {
  position: absolute;

  left: 70px;
  top: 20px;

  border-radius: 150px;
  width: 240px;
  height: 240px;
}
#titleCircle {
  position: absolute;
  z-index:-1;
  left: 90px;
  top: 20px;
  background: #18ad6e;
  border-radius: 150px;
  width: 250px;
  height: 250px;
}
.titleButtons {
  margin: 10px;
  padding: 5px;
  border-radius: 50px;
  width: 130px;
  height: 40px;
  border: none;
}

#titleButtonsContact {
  background: #00b649;
  color: white;
}
#titleImageMobile{
    display:none;
  }

#titleButtonsPortfolio {
  background: #c2c2c2;
}

@media screen and (max-width: 725px) {
    #titleText{
      width:100%;
    }
   #titleImage{
      display:none;
         }

    #titleImageMobile{
      display:inline;
      position:relative;
      height:300px;
      width:50px;

    }
    #titleCircle{
    left:50%;
    top:20px;
    }
    #titlePetr{
     left:55%;
    top:23px;
    }
  }
