html {
  background-color: #d9d9d9;

  font-family: arial;
}
a {
  text-decoration: none;
  color: inherit;
}
.title-flex-container {
  display: flex;

  flex-wrap: wrap-reverse;

  padding-left: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 10%;

  border-bottom-color: #18ad6e;
  border-bottom-width: thick;
  border-bottom-style: solid;
}
.flex-container > * {
  flex: 1 1 100px;
}
.title-text {
  object-fit: contain;
  display: inline-block;
  position: relative;
  top: 32px;

  width: 80vh;
  font-size: 150%;
  padding-top: 5%;
  margin: 2%;
}
@media (min-width: 800px) {
  .title-name {
    margin: 5%;
    margin-left: 10%;
    position: absolute;
    font-size: 200%;

    position: relative;
  }
}
.title-owner {
  font-size: 200%;
  font-style: oblique;
}

/* image on the right */

.title-circle-box {
  position: relative;
  width: 40vh;
  height: 40vw;
}
.title-green-circle {
  z-index: -9;
  position: absolute;
  margin-left: 2%;
  width: 46vh;
  height: 46vh;
  background-color: #18ad6e;
  border-radius: 50%;
  object-fit: contain;
}
.title-Petr-image {
  object-fit: contain;
  overflow: auto;
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
}

.title-image {
  float: left;
  width: 45vh;
  position: absolute;
  height: 45vh;
  overflow: contain;
  margin: 0%;
}

/* buttonshit */
button .title-flex-button {
  display: flex;
  padding-top: 10%;
}

button {
  border-radius: 50px;
  border: none;
  outline: 0;
  margin-right: 10%;
  font-size: 60%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  width: 35%;
}

.title-button1 {
  background-color: #00b649;

  color: white;
}
.title-button2 {
  background-color: #c2c2c2;
}

/* telefon */

@media (max-width: 500px) {
  .title-image {
    /*  background-color:black; */
    width: 70vw;
    height: 70vw;
    overflow: hidden;
  }
  .title-circle-box {
    position: relative;
    width: 60vw;
    height: 60vw;
  }

  .title-green-circle {
    z-index: -3;
    position: absolute;
    margin-left: 0%;
    width: 78vw;
    height: 78vw;
    background-color: #18ad6e;
    border-radius: 50%;
    object-fit: contain;
  }

  .title-Petr-image {
    object-fit: contain;
    overflow: auto;
    height: auto;
    max-width: 100%;
  }

  .visibledesktop {
    display: none;
  }

  .title-text {
    object-fit: contain;
    position: relative;
    top: 32px;
    overflow: auto;
    width: 100vw;
    font-size: 150%;
    margin: 5%;
  }

  .title-owner {
    font-size: 80%;
    font-style: oblique;
  }
}
