html{
    background-color: rgb(237, 229, 229);
}
.flex-container {
  display:flex;
  flex-direction: row;
  flex-basis:content;
  flex-wrap:wrap;
    padding-left:5%;
    padding-left:5%;
    padding-top:2%;
    padding-bottom:10%;

    border-bottom-color:aquamarine;
    border-bottom-width:thick;
    border-bottom-style: solid;
}
/* .flex-container>* {

   flex: 1 1 500px;
  }  */
.title-text{
    /* margin-right:30%; */
    width:50%;
    font-size:150%;
    padding-top:5%;
    margin:5%;
}
.title-owner{

    font-size:300%;
    font-style:oblique;
}
.green-circle{
    position:absolute;
    margin-left:3%;
    height:23%;
    width: 23%;
    background-color: rgb(47, 231, 151);
    border-radius: 50%;
    object-fit: contain;
}
.Petr-image{
    margin:1%;
    position:absolute;
    width: 450px; /* you can use % */
    height: auto;
    border-radius: 50%;
    /* margin-left:2%; */
    /* object-fit: scale-down; */
}
.title-image{
    width:560px;
    display:flex;
    margin-right:5%;
}
.flex-button{
    display:flex;
    padding-top:10%;
}

button{
    border-radius:50px;
    border:none;
    outline:0;
    margin-right:10%;
    font-size:120%;
    padding-top:2%;
    padding-bottom:2%;
    padding-left:5%;
    padding-right:5%;
    width:35%;
}

.button1{
    background-color: rgb(47, 231, 151);
    color:white;
}
.button2{
    background-color: rgb(213, 207, 207);

}
.second-line{
    border-bottom-color:aquamarine;
    background-color:none;
    border-bottom-width:thick;
    border-bottom-style: solid;
    height:20%;
    width:100%;
    content:"";
    display:block;
    margin:1%;
}
a{
    font-size:50%;
}
